<a href="https://colab.research.google.com/github/hansa31/Datathon2022/blob/main/DatathonTest1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Mount the google drive
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')     #run this cell @shakthi

Mounted at /content/drive

In [ ]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets download ethon0426/lending-club-20072020q1

Downloading lending-club-20072020q1.zip to /content
 98% 471M/482M [00:02<00:00, 177MB/s]
100% 482M/482M [00:02<00:00, 201MB/s]

In [ ]:
! unzip /content/lending-club-20072020q1.zip

Archive:  /content/lending-club-20072020q1.zip
  inflating: LCDataDictionary.xlsx
  inflating: Loan_status_2007-2020Q3.gzip

In [ ]:
import gzip
import pandas as pd

In [ ]:
df_scan = pd.read_csv('/content/Loan_status_2007-2020Q3.gzip', nrows=10000, low_memory=False)

In [ ]:
df_scan.head()

   Unnamed: 0       id  ...  hardship_last_payment_amount  debt_settlement_flag
0           0  1077501  ...                           NaN                     N
1           1  1077430  ...                           NaN                     N
2           2  1077175  ...                           NaN                     N
3           3  1076863  ...                           NaN                     N
4           4  1075358  ...                           NaN                     N

[5 rows x 142 columns]

In [ ]:
df.scan()