<a href="https://colab.research.google.com/github/hansa31/Datathon2022/blob/main/DatathonHansa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install -q kaggle

In [1]:
! pwd

/content

In [6]:
cd drive

/content/drive

In [7]:
cd MyDrive/SLIIT_Datathon/Kaggle_H/

/content/drive/.shortcut-targets-by-id/1O9LqeZFL_PcVlvEHq76icalAy5J-FMSA/SLIIT_Datathon/Kaggle_H

In [8]:
pwd

'/content/drive/.shortcut-targets-by-id/1O9LqeZFL_PcVlvEHq76icalAy5J-FMSA/SLIIT_Datathon/Kaggle_H'

In [10]:
# install kaggle API client
! pip install -q kaggle

In [17]:
! mkdir -p ~/.kaggle
! cp kaggle.json ~/.kaggle/

In [18]:
! chmod 600 ~/.kaggle/kaggle.json

In [22]:

! kaggle datasets download -d ethon0426/lending-club-20072020q1

Downloading lending-club-20072020q1.zip to /content/drive/.shortcut-targets-by-id/1O9LqeZFL_PcVlvEHq76icalAy5J-FMSA/SLIIT_Datathon/Kaggle_H
 97% 469M/482M [00:04<00:00, 107MB/s]
100% 482M/482M [00:04<00:00, 109MB/s]

In [23]:
pwd

'/content/drive/.shortcut-targets-by-id/1O9LqeZFL_PcVlvEHq76icalAy5J-FMSA/SLIIT_Datathon/Kaggle_H'

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
# get the description
def description_getter(col_name):
  des_dic = pd.read_excel('/content/drive/MyDrive/SLIIT_Datathon/Data/LCDataDictionary.xlsx')
  finder = dict(zip(des_dic.LoanStatNew,des_dic.Description))
  print(finder[col_name])

In [45]:
# get the description of the data sets
des_dic = pd.read_excel('/content/drive/MyDrive/SLIIT_Datathon/Data/LCDataDictionary.xlsx')
des_dic

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

In [61]:
df1 = pd.read_csv('/content/drive/MyDrive/SLIIT_Datathon/Data/Loan_status_chunk1.csv',index_col=0,low_memory=False)
#df1.head()
#df1.iloc[:,41]

#loan status
df1.loc[:,'loan_status']    #targeted one

id
1077501     Fully Paid
1077430    Charged Off
1077175     Fully Paid
1076863     Fully Paid
1075358     Fully Paid
              ...
9706491     Fully Paid
9824590     Fully Paid
9824702     Fully Paid
9645390     Fully Paid
9804647     Fully Paid
Name: loan_status, Length: 50000, dtype: object

In [63]:
df1['loan_status'].value_counts()

Fully Paid                                             40414
Charged Off                                             6836
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Name: loan_status, dtype: int64

In [34]:
# Manual exploration
df1.describe()

          loan_amnt  ...  hardship_last_payment_amount
count  49999.000000  ...                      8.000000
mean   11644.708894  ...                    146.115000
std     7676.232456  ...                     99.978419
min      500.000000  ...                      0.160000
25%     6000.000000  ...                     93.792500
50%    10000.000000  ...                    165.845000
75%    15250.000000  ...                    220.115000
max    35000.000000  ...                    263.480000

[8 rows x 108 columns]

In [47]:
df1.dtypes

loan_amnt                                     float64
funded_amnt                                   float64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
                                               ...
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
Length: 140, dtype: object

In [70]:
# Exploring the dataset --> what feature each column represents

#matrix of dependent variables 
#if the target column is the last one (Debt settlement flag)
x = df1.loc[:,:'loan_status'].values    #need all the rows (:-1)all the columns except the last one
print(x.shape)
print(x)

(50000, 15)
[[5000.0 5000.0 4975.0 ... 'Verified' 'Dec-2011' 'Fully Paid']
 [2500.0 2500.0 2500.0 ... 'Source Verified' 'Dec-2011' 'Charged Off']
 [2400.0 2400.0 2400.0 ... 'Not Verified' 'Dec-2011' 'Fully Paid']
 ...
 [3000.0 3000.0 3000.0 ... 'Not Verified' 'Dec-2013' 'Fully Paid']
 [35000.0 35000.0 35000.0 ... 'Source Verified' 'Dec-2013' 'Fully Paid']
 [17000.0 17000.0 17000.0 ... 'Verified' 'Dec-2013' 'Fully Paid']]

In [71]:
# independent variable (Debt settlement flag)
y = df1.loc[:,'loan_status'].values
y

array(['Fully Paid', 'Charged Off', 'Fully Paid', ..., 'Fully Paid',
       'Fully Paid', 'Fully Paid'], dtype=object)

### Dealing with missing values
*  Remove the lines with data if percentage of missing value is > 50%
* Fill all null variables zero
* Use the Imputerclass from scikit-learn lib to fill in the missing with data's (mean, median, most_frequent)
* fill up the missing value directly after it

### Handling Categorical data
* ML uses numerical values. Therefore, object data type needs to be transformed to numeric.
* Use One Hot Encoder.

In [50]:
# percentage of missing values
def percent_missing(df1):
  percent_missing = df1.isnull().sum() * 100 / len(df1)
  missing_value_df = pd.DataFrame({'column_name': df1.columns,
                                 'percent_missing': percent_missing})
  return missing_value_df

percent_missing(df1)

                                                                           column_name  percent_missing
loan_amnt                                                                    loan_amnt            0.002
funded_amnt                                                                funded_amnt            0.002
funded_amnt_inv                                                        funded_amnt_inv            0.002
term                                                                              term            0.002
int_rate                                                                      int_rate            0.002
...                                                                                ...              ...
hardship_loan_status                                              hardship_loan_status           99.984
orig_projected_additional_accrued_interest  orig_projected_additional_accrued_interest           99.988
hardship_payoff_balance_amount                          hardship_payoff_balance_amount           99.984
hardship_last_payment_amount                              hardship_last_payment_amount           99.984
debt_settlement_flag                                              debt_settlement_flag            0.002

[140 rows x 2 columns]

In [67]:
# preprocessed df1 with with <50% missing values
def missingPercentagePreProcess(prec,df):
#perc = 50.0
  min_count =  int(((100-perc)/100)*df.shape[0] + 1)
  df_Nomissing = df.dropna(axis=1,thresh = min_count)
  return df_Nomissing
  #percent_missing(df1_Nomissing)

df1_MinMiss = missingPercentagePreProcess(50,df1)

df1_MinMiss

         loan_amnt  funded_amnt  ...  hardship_flag debt_settlement_flag
id                               ...
1077501     5000.0       5000.0  ...              N                    N
1077430     2500.0       2500.0  ...              N                    N
1077175     2400.0       2400.0  ...              N                    N
1076863    10000.0      10000.0  ...              N                    N
1075358     3000.0       3000.0  ...              N                    N
...            ...          ...  ...            ...                  ...
9706491    30000.0      30000.0  ...              N                    N
9824590    21000.0      21000.0  ...              N                    N
9824702     3000.0       3000.0  ...              N                    N
9645390    35000.0      35000.0  ...              N                    N
9804647    17000.0      17000.0  ...              N                    N

[50000 rows x 57 columns]

In [ ]:
# dealing with missing values
from sklearn.preprocessing import Imputer