<a href="https://colab.research.google.com/github/hansa31/Datathon2022/blob/main/DatathonHansa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install -q kaggle

In [1]:
! pwd

/content

In [6]:
cd drive

/content/drive

In [7]:
cd MyDrive/SLIIT_Datathon/Kaggle_H/

/content/drive/.shortcut-targets-by-id/1O9LqeZFL_PcVlvEHq76icalAy5J-FMSA/SLIIT_Datathon/Kaggle_H

In [8]:
pwd

'/content/drive/.shortcut-targets-by-id/1O9LqeZFL_PcVlvEHq76icalAy5J-FMSA/SLIIT_Datathon/Kaggle_H'

In [10]:
# install kaggle API client
! pip install -q kaggle

In [17]:
! mkdir -p ~/.kaggle
! cp kaggle.json ~/.kaggle/

In [18]:
! chmod 600 ~/.kaggle/kaggle.json

In [22]:

! kaggle datasets download -d ethon0426/lending-club-20072020q1

Downloading lending-club-20072020q1.zip to /content/drive/.shortcut-targets-by-id/1O9LqeZFL_PcVlvEHq76icalAy5J-FMSA/SLIIT_Datathon/Kaggle_H
 97% 469M/482M [00:04<00:00, 107MB/s]
100% 482M/482M [00:04<00:00, 109MB/s]

In [23]:
pwd

'/content/drive/.shortcut-targets-by-id/1O9LqeZFL_PcVlvEHq76icalAy5J-FMSA/SLIIT_Datathon/Kaggle_H'

In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('/content/drive/MyDrive/SLIIT_Datathon/Data/Loan_status_chunk1.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,47,126,127,128,131,132,133,136) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        id  loan_amnt  ...  hardship_last_payment_amount  debt_settlement_flag
0  1077501     5000.0  ...                           NaN                     N
1  1077430     2500.0  ...                           NaN                     N
2  1077175     2400.0  ...                           NaN                     N
3  1076863    10000.0  ...                           NaN                     N
4  1075358     3000.0  ...                           NaN                     N

[5 rows x 141 columns]